@{
    ViewData["Title"] = "Parts";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-12">
                    <h2>@Localizer["PartsTitle"]</h2>
                    <p>@Localizer["PartsMessage"]</p>
                    <p>@Localizer["PartsMessage2"]</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row mt-4">
                <div class="col-12 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="parts-image-container">
                            <img src="~/images/Parts/bogie-y25.png" class="card-img-top parts-image" alt="@Localizer["PartsCardBogieY25"]">
                            <div class="parts-title-overlay">
                                <h4 class="card-title mb-0 parts-title-text">@Localizer["PartsCardBogieY25"]</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="parts-image-container">
                            <img src="~/images/Parts/bogie-TH.png" class="card-img-top parts-image" alt="@Localizer["PartsCardBogieTH"]">
                            <div class="parts-title-overlay">
                                <h4 class="card-title mb-0 parts-title-text">@Localizer["PartsCardBogieTH"]</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="parts-image-container">
                            <img src="~/images/Parts/wheels1.jpg" class="card-img-top parts-image" alt="@Localizer["PartsCardWheelsets"]">
                            <div class="parts-title-overlay">
                                <h4 class="card-title mb-0 parts-title-text">@Localizer["PartsCardWheelsets"]</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="parts-image-container">
                            <img src="~/images/Parts/Puffer.jpg" class="card-img-top parts-image" alt="@Localizer["PartsCardBuffers"]">
                            <div class="parts-title-overlay">
                                <h4 class="card-title mb-0 parts-title-text">@Localizer["PartsCardBuffers"]</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="parts-image-container">
                            <img src="~/images/Parts/metalogumen paket.jpg" class="card-img-top parts-image" alt="@Localizer["PartsCardMetalRubberPacket"]">
                            <div class="parts-title-overlay">
                                <h4 class="card-title mb-0 parts-title-text">@Localizer["PartsCardMetalRubberPacket"]</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="parts-image-container">
                            <img src="~/images/Parts/Vintov spriag.jpg" class="card-img-top parts-image" alt="@Localizer["PartsCardScrewCoupling"]">
                            <div class="parts-title-overlay">
                                <h4 class="card-title mb-0 parts-title-text">@Localizer["PartsCardScrewCoupling"]</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="parts-image-container">
                            <img src="~/images/Parts/SAB.jpg" class="card-img-top parts-image" alt="@Localizer["PartsCardSABRegulator"]">
                            <div class="parts-title-overlay">
                                <h4 class="card-title mb-0 parts-title-text">@Localizer["PartsCardSABRegulator"]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

